@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Uncial+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Lato&display=swap");

/* ------
  DOM
------ */
body {
  background-image: url(../img/oriental-dark.png); /* Background pattern from Toptal Subtle Patterns */
  margin: 0;
}

header {
  background-color: #36454f; /* charcoal gray */
  color: #efefef;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

#header-content {
  margin-left: 10px;
  padding-bottom: 1em;
}

/* ------
  MAIN
------ */
h1 {
  margin-top: 0;
}

h2 {
  margin-top: .25em;
  margin-bottom: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d6d5d1;
}

#main-content {
  margin: 0 1em;
}

.screenshots {
  text-align: center;
}

/* Section Breaks */
.breaker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
  width: 100%;
  box-sizing: border-box;
}
.breaker-decoration {
  width: 75%;
  height: 7px;
  background-color: #7b7b7b;
}
.breaker-img {
  margin: 0 10px;
}

footer {  
  background-color: #36454f; /* charcoal gray */
  color: #efefef;
}

#footer-content {
  margin-left: 10px;
}

footer p {
  margin-bottom: 0;
}

/* ------
  FONTS
------ */
h1,
h2,
h3 {
  font-family: Girassol, "Uncial Antiqua", serif;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

p,
select,
label {
  font-family: Alegreya, Lato, "sans serif";
  font-size: 1.2em;
}

.hvrbox-text {
  font-family: Lato, "sans serif";
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.released {
  font-style: italic;
  margin-left: 1em;
}


/* ------
  MEDIA QUERIES
------ */
@media screen and (min-width: 800px) {

  #header-content {
    display: flex;
    align-items: baseline;
    padding-bottom: 0;
  }

  label {
    padding: 0 1em 0 2em;
  }
}